 
{% extends "College/header_adm.html" %}
{% block content %}
{% load static %}


<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">

            <h3 class="title1">Bus Details</h3>

            <div class="col-sm-12" style="margin-top: 10px;">
    <div class="form-title">
                    <h4>Add New Bus Details :</h4>
                </div>
       
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                  <div class="alert alert-success"> {{message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="col-sm-6">
                <form method="post" action="/save_bus/" method="post" id="myform" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label> Bus Number</label>
                        <input name="bus_number" type="text" class="form-control">
                   </div>
                   
               <div class="form-group">
                <label>Route Details</label>
              <textarea name="route"  class="form-control"></textarea>
         </div>
         <div class="form-group">
            <label>Stops Details</label>
          <textarea name="stops"  class="form-control"></textarea>
     </div>
              <div class="col-sm-12"  style="text-align: center;"><div>
                <input type="submit" value="Submit" class="btn btn-info">
      </div></div>
           </form>
    </div>
    
                               <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                               <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
       <script>
           (function ($, W, D)
         {
         var JQUERY4U = {};
         JQUERY4U.UTIL =
             {
                 setupFormValidation: function ()
                 {
                   $.validator.addMethod(
           "regex",
           function(value, element, regexp) {
               var check = false;
               return this.optional(element) || regexp.test(value);
           },
           "Not a valid Input."
       );
    
                 //form validation rules
                 $("#myform").validate({
                   rules: {
    
                    total_seat: {
    
                                           required: true,
                                         digits:true,
                                       },
                                       bus_number: {
    
    required: true,
  digits:true,
},
route: {
    
                                           required: true,
                                         regex :/^[a-zA-Z, ]+$/,
                                         minlength: 3,
                                         maxlength:150,
    
                                       },
                                       stops: {
    
    required: true,
  regex :/^[a-zA-Z, ]+$/,
  minlength: 3,
  maxlength:150,

},
                           },
                                     
                                     messages: {
    
    
    
                     },
                     submitHandler: function (form) {
                     form.submit();
                     }
                 });
               }
             }
         //when the dom has loaded setup form validation rules
         $(D).ready(function ($) {
             JQUERY4U.UTIL.setupFormValidation();
         });
         })(jQuery, window, document);
       </script>
                                    </div></div>

            </div>
            
    </div>
</div>
<!--footer-->
{% endblock %}
              