
{% extends "Student/header.html" %}
{% block content %}
{% load static %}

<!---->
<!--contact-->
<div class="contact">
	<div class="container">
		
		<div class="contact_top">	
				 		
			<div class="col-md-12 contact_left">
				<div class="main-head-section">
					<h2>Application Status</h2>
			
		 </div>		
    <div class="col-sm-12">
    
       
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
          <div class="alert alert-success"> {{message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
     
            {% if data %}
                            <div id="res">
                            <table class="table table-striped table-bordered">
                                <tr><th>Batch</th><th>Course</th><th>Course Type</th><th>College</th><th>Qualification </th><th>Mark </th><th>Out of Mark</th><th>Quota</th><th>Exam</th><th>SSLC</th><th>Income</th><th>Caste</th><th>Status</th></tr>  

                                {%  for k in data  %}

                                 
                                 
                                  <tr>  
                                    <td>{{k.0}}</td>
                                    <td>{{k.1}}</td>
                                        <td>{{k.2}}</td>
                                      
                                        <td><div>College:{{k.6}}</div>
                                            <div>Address:{{k.7}}</div>
                                            <div>Email:{{k.8}}</div>
                                            <div>Phone No:{{k.9}}</div>
                                            
                                           
                                        
                                        </td>
                                        <td>{{k.15}}</td>
                                        <td>{{k.16}}</td>
                                        <td>{{k.17}}</td>
                                        <td>{{k.19}}</td>
                                        <td><a href="{{k.18}}" target="_blank">Exam Certificate</a></td>
                                        <td><a href="{{k.20}}" target="_blank">SSLC Certificate</a></td>
                                        <td>
                                        {%if k.21 %}
                                        <a href="{{k.21}}" target="_blank">Income Certificate</a>
                                        {% else %}
                                            No caste certificate    
                                        {% endif %}</td>
                                        <td><a href="{{k.22}}" target="_blank">Caste Certificate</a></td>
                                        <td>{{k.24}}</td>
                                 
                                   
                                   
                                  </tr>
                                    {% endfor  %}
                              </table>


                                    {% else %}
                                    <div class="clearfix"> </div>
                                    <div class="alert alert-success"> No Admission Notification</div>
                                    {% endif %}
        </table>
        <script>
            $("#university").change(function () {
                  var university_login_id = $(this).val();
        
                  $.ajax({
        
                        url: '/display_college/',
                        data: {
                            'university_login_id': university_login_id
                        },
                        dataType: 'json',
                        success: function (data) {
        
        
                           let html_data = '<option value="">--Select--</option>';
        data.forEach(function (data) {
        html_data += `<option value="${data.login_id}">${data.college}</option>`
        });
        $("#college").html(html_data);
        
        
        
                        }
                  });
        
               });</script>

<script>
    $("#college").change(function () {
          var college_login_id = $(this).val();

          $.ajax({

                url: '/display_offered_course_list/',
                data: {
                    'college_login_id': college_login_id
                },
                
                success: function (data) {
                    $("#course").html(data);

                 




                }
          });

       });</script>

<script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
<script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
(function ($, W, D)
{
var JQUERY4U = {};
JQUERY4U.UTIL =
{
setupFormValidation: function ()
{
$.validator.addMethod(
"regex",
function(value, element, regexp) {
var check = false;
return this.optional(element) || regexp.test(value);
},
"Not a valid Input."
);

//form validation rules
$("#myform").validate({
rules: {

    university: {

            required: true,
         
        },
        college: {

            required: true,
        },
        course: {

required: true,
},

      },
      messages: {



},
submitHandler: function (form) {
form.submit();
}
});
}
}
//when the dom has loaded setup form validation rules
$(D).ready(function ($) {
JQUERY4U.UTIL.setupFormValidation();
});
})(jQuery, window, document);
</script>
        </div>
			   <div class="clearfix"> </div></div>
		 </div>
	</div>
</div>
<!---->
{% endblock %}


