

{% extends "master/header_adm.html" %}
{% block content %}
{% load static %}


<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">

            <h3 class="title1">Reply</h3>
            <div class="col-sm-6"  style="min-height:500px;">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                  <div class="alert alert-success"> {{message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
            <div class="form-grids row widget-shadow" data-example-id="basic-forms">
                <div class="form-title">
                    <h4>Reply Complaints :</h4>
                </div>

                <div class="form-body">
                    <form action="/add_reply/{{id}}" method="post" id="myform">
                        {% csrf_token %}
                    <div class="form-group"> <label for="">Reply</label>
                    <textarea name="reply" id="reply" class="form-control"></textarea> </div>
                        <button type="submit" class="btn btn-info">Submit</button> </form>

                        <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
                        <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
<script>
    (function ($, W, D)
  {
  var JQUERY4U = {};
  JQUERY4U.UTIL =
      {
          setupFormValidation: function ()
          {
            $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
);

          //form validation rules
          $("#myform").validate({
            rules: {
                                reply: {
                                  required: true,


                                },

                              },
                              messages: {



              },
              submitHandler: function (form) {
              form.submit();
              }
          });
        }
      }
  //when the dom has loaded setup form validation rules
  $(D).ready(function ($) {
      JQUERY4U.UTIL.setupFormValidation();
  });
  })(jQuery, window, document);
</script>
                </div>
            </div>
        </div>
            <div class="col-sm-6" style="margin-top: 10px;">



            </div>
            <div class="row">

        </div>
    </div>
</div>
<!--footer-->
{% endblock %}